// Styles for the "Beginning the Conversation" engagement report

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

@media screen {

	.engagement-report {

		font-size: 18px;

		blockquote {
			font-size: inherit;
		}

		li + li {
			margin-top: 0.5em;
		}
		li ul:first-child {
			margin-top: 0.5em;
		}
		ul, ol {
			margin-bottom: 1em;
		}

		p {
		    line-height: 1.5;
		    margin-bottom: 1em;
		    margin-top: 1em;
		}
		p:first-child {
			margin-top: 0;	
		}

		/* 
		Multi-line padded text
		Thanks to:
		https://css-tricks.com/multi-line-padded-text/
		*/
		.padded-multiline { 
		  line-height: 1.4; 
		  padding: 2px 0; 
		  width: 530px;
		 /* margin: 20px;
		  margin-left: 40px;*/
		}
		.padded-multiline span { 
		  background-color: #3a3a3a;
		  color: #fff; 
		  display: inline;
		  
		  /* Needs prefixing */
		  box-decoration-break: clone;
		}

		.heading-container {
			width: 100%;
			
			margin-top: 32px;
			margin-bottom: 32px;
			background-color: #333;
			color: #fff; 
			clear: both;

			border-top: 1px #333 solid;
			border-bottom: 2px #333 solid;

			.padded-multiline.title {
				font-size: 32px;
				font-weight: bold;
				margin: 0 0 11.5px;
			}
			.padded-multiline.title span {
				padding: 0.7rem;
			}

			.padded-multiline.subtitle {
				font-size: 22px;
				margin: 0 0 11.5px;
				margin-bottom: 1em;
			}
			.padded-multiline.subtitle span {
				padding: 0.7rem;
			}

			// Background features
			padding-top: 170px;
			padding-bottom: 30px;


			// Visual designs - individual backgrounds for each heading style
			&.sky {
				background: url(img/v2/horizon-mosaic.png) no-repeat center right / cover #333;
				padding-top: 150px;


			}

			&.sky .padded-multiline span {
				background-color: #2a3a4b;
			}

			&.gds {
				background: url(img/v2/gds-mosaic.png) no-repeat center right / cover #333;
			}

			&.gds .padded-multiline span {
				background-color: #1a3346;
			}

			&.hub {
				background: url(img/v2/hub-ottawa-mosaic.png) no-repeat center right / cover #333;
			}

			&.hub .padded-multiline span {
				background-color: #182d3f;
			}

			&.calgary {
				background: url(img/v2/calgary-mosaic.png) no-repeat center right / cover #333;

			}

			&.calgary .padded-multiline span {
				background-color: #231d4a;
			}

			&.pei {
				background: url(img/v2/pei-startupzone-mosaic.png) no-repeat center right / cover #333;

			}

			&.pei .padded-multiline span {
				background-color: #0b235a;
			}

			&.montreal {
				background: url(img/v2/pei-bridge-2-mosaic.png) no-repeat center right / cover #333;

			}

			&.montreal .padded-multiline span {
				background-color: #8d0c13;
			}

			&.vancouver {
				background: url(img/v2/whiteboard-mosaic-9.png) no-repeat center right / cover #333;

			}

			&.vancouver .padded-multiline span {
				background-color: #4a6656;
			}

			&.ottawa {
				background: url(img/v2/ottawa-mosaic.png) no-repeat center right / cover #333;

			}

			&.ottawa .padded-multiline span {
				background-color: #5c3b4b;
			}



		}
	}

	

}

@media screen and (min-width: 500px) {

	.engagement-report {

		.engagement-report-section {
			margin: 5rem auto;
		    max-width: 61rem;
		}

		.heading-container {
			padding-left: 30px;
			padding-right: 30px;
			min-height: 250px;

			h2 {
				font-size: 30px;
			}

			.padded-multiline span { 
				padding: 0.7rem;
			}

			.padded-multiline.title {
				font-size: 38px;
			}
			.padded-multiline.title span {
				padding: 0.9rem;
			}

			.padded-multiline.subtitle {
				font-size: 30px;
			}
			.padded-multiline.subtitle span {
				padding: 0.9rem;
			}
		}

	}

	

}

@media screen and (min-width: 650px) {

	.engagement-report {

		// font-size: 18px;

		.heading-container {
			padding-left: 50px;
			padding-right: 50px;
			min-height: 320px;

			h2 {
				font-size: 40px;
				
			}

			.padded-multiline span { 
				padding: 1rem;
			}

			.padded-multiline.title {
				font-size: 46px;
			}
			.padded-multiline.subtitle {
				font-size: 36px;
			}
		}

}


}










.report-container ul li {
	margin-bottom: 0.3em;
}

.report-container h2 {
	clear: both;
	font-size: 30px;
}











/*Comment sidebars*/

/* Matching extra margins to the medium breakpoint */
@media (min-width: 992px) {
	.comment-panel.pull-right {
		margin-left: 20px;
	}
	.comment-panel.pull-left {
		margin-right: 20px;
	}
}

.comment-panel {
	color: #fff;
	background-color: #333;
	border-bottom: 4px solid #1a3346;
	margin-bottom: 20px;
	padding: 20px;
}

.comment-panel a {
	color: #b6cce8;
}
.comment-panel a:visited {
	color: #d3bde8;
}


.comment-panel.gds {
	
	border-color: #1a3346;
	background-color: #2d5960;
	
}

.comment-panel.calgary {
	
	border-color: #1d173f;
	background-color: #2f295b;
	
}

.comment-panel.montreal {
	
	border-color: #460a09;
	background-color: #6f0a0f;
	
}

.comment-panel.ottawa {
	
	background-color: #185c39;
	border-color: #182d3f;

}

.comment-panel.pei {
	
	background-color: #2a569b;
	border-color: #0b235a;

}

.comment-panel.vancouver {
	
	background-color: #3a4e47;
	border-color: #4a6656;

}




/* Comments from open.canada.ca */
/*http://open.canada.ca/sites/all/modules/custom/opendata_blog/css/images/icons/comment.png*/
.comment .links .comment-reply a {
    background: url(//open.canada.ca/sites/all/modules/custom/opendata_blog/css/images/icons/comment.png) left bottom no-repeat;
}

.comment .links a {
    padding: 2px 0 2px 22px;
    text-decoration: none;
    color: #3e7bab;
}

.comment .comment-author, form.comment-form .username {
    font-weight: bold;
    color: #086CA2;
}



/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}