
//===== Import SCSS Components =====//

@import 'settings';      // Import the variables

@import 'mixins';        // Import commonly used mixins

@import 'variations';    // Imports the variations

@import 'headers';       // Import the header styles

@import 'nav';           // Import nav styles

@import 'content';       // Import the content styles

@import 'summary-page';  // Import the summary page styles

@import 'gcweb-fixes';   // Import global GC web fixes

@import 'print';         // Import print styles

//@media screen and (max-width: 767px) {}
//@media screen and (min-width: 768px) {}
//@media (max-width: 1200px) {}


















