$primary-color: #1d344b !global;

// Colours
$engagement-color   : $primary-color !global !default;
$organizing-color   : $primary-color !global !default;
$talent-color       : $primary-color !global !default;
$design-color       : $primary-color !global !default;
$foundations-color  : $primary-color !global !default;
$yourthoughts-color : $primary-color !global !default;