
// Easing for test
* {
    transition: all 0.5s ease;
}

.js-mosaic {
    // Colours
    $engagement-color   : #110b0a;
    $organizing-color   : #332a29;
    $talent-color       : #1d2f21;
    $design-color       : #a1084f;
    $foundations-color  : #151512;
    $yourthoughts-color : #702c0f;

    .heading-container {

        &.cover { 
            background: url("img/v2/horizon-mosaic.png") no-repeat center right / cover $primary-color !important;
            border-color: $primary-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($primary-color, 0.9) !important; 
            }
        }

        &.section--engagement { 
            background: url("img/v2/hub-ottawa-mosaic.png") no-repeat center right / cover $engagement-color !important;
            border-color: $engagement-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($engagement-color, 0.9) !important; 
            }
        }
        &.section--organizing { 
            background: url("img/v2/calgary-mosaic.png") no-repeat center right / cover $organizing-color !important;
            border-color: $organizing-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($organizing-color, 0.9) !important; 
            }
         }
        &.section--talent { 
            background: url("img/v2/pei-startupzone-mosaic.png") no-repeat center right / cover $talent-color !important;
            border-color: $talent-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($talent-color, 0.9) !important; 
            }
         }
        &.section--design { 
            background: url("img/v2/whiteboard-mosaic-9.png") no-repeat center right / cover $design-color !important;
            border-color: $design-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($design-color, 0.9) !important; 
            } }
        &.section--foundations { 
            background: url("img/v2/gds-mosaic.png") no-repeat center right / cover $foundations-color !important;
            border-color: $foundations-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($foundations-color, 0.9) !important; 
            }
         }
        
        &.section--yourthoughts { 
            background: url("img/v2/ottawa-mosaic.png") no-repeat center right / cover $yourthoughts-color !important;
            border-color: $yourthoughts-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($yourthoughts-color, 0.9) !important; 
            }
         }
    }

    #themenav {
        .affix {

            .nav-link, li.active {
                &:hover, &:focus, &:active, .nav-link {
                    &.section--engagement    { background-color: $engagement-color; }
                    &.section--organizing    { background-color: $organizing-color; }
                    &.section--talent        { background-color: $talent-color; }
                    &.section--design        { background-color: $design-color; }
                    &.section--foundations   { background-color: $foundations-color; }
                    &.section--yourthoughts  { background-color: $yourthoughts-color; }
                }
            }
        }
    }

    .comment-panel {
        &.section--intro         { background-color: $primary-color; }
        &.section--engagement    { background-color: $engagement-color; }
        &.section--organizing    { background-color: $organizing-color; }
        &.section--talent        { background-color: $talent-color; }
        &.section--design        { background-color: $design-color; }
        &.section--foundations   { background-color: $foundations-color; }
        &.section--yourthoughts  { background-color: $yourthoughts-color; }
    }

}
.js-simple {

    // Colours
    $engagement-color   : #BF1C2B;
    $organizing-color   : #914D0B;
    $talent-color       : #054C80;
    $design-color       : #265812;
    $foundations-color  : #800042;
    $yourthoughts-color : #111111;

     .heading-container {

        &.cover { 
            background: url("img/v2/op3-cover.png") no-repeat center right / cover $primary-color !important;

            .padded-multiline span, .toplink { 
                background-color: rgba($primary-color, 0.9) !important; 
            }
        }

        &.section--engagement { 
            background: url("img/v2/simple--banner--engagment.png") no-repeat center right / cover lighten($engagement-color, 30%) !important;
            border-color: $engagement-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($engagement-color, 0.9), 20%) !important; 
            }
        }
        &.section--organizing { 
            background: url("img/v2/simple--banner--organizing.png") no-repeat center right / cover lighten($organizing-color, 30%) !important;
            border-color: $organizing-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($organizing-color, 0.9), 10%) !important; 
            }
         }
        &.section--talent { 
            background: url("img/v2/simple--banner--talent.png") no-repeat center right / cover lighten($talent-color, 30%) !important;
            border-color: $talent-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($talent-color, 0.9), 10%) !important; 
            }
         }
        &.section--design { 
            background: url("img/v2/simple--banner--design.png") no-repeat center right / cover lighten($design-color, 30%) !important;
            border-color: $design-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($design-color, 0.9), 10%) !important; 
            } }
        &.section--foundations { 
            background: url("img/v2/simple--banner--foundations.png") no-repeat center right / cover lighten($foundations-color, 30%) !important;
            border-color: $foundations-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($foundations-color, 0.9), 10%) !important; 
            }
         }
        
        &.section--yourthoughts { 
            background: url("img/v2/simple--banner--yourthoughts.png") no-repeat center right / cover lighten($yourthoughts-color, 30%) !important;
            border-color: $yourthoughts-color !important;
            background-blend-mode: multiply;

            .padded-multiline span, .toplink { 
                background-color: darken(rgba($yourthoughts-color, 0.9), 10%) !important; 
            }
         }
    }

    #themenav {
        .affix {

            .nav-link, li.active {
                &:hover, &:focus, &:active, .nav-link {
                    &.section--engagement    { background-color: darken($engagement-color, 5%); }
                    &.section--organizing    { background-color: darken($organizing-color, 5%); }
                    &.section--talent        { background-color: darken($talent-color, 5%); }
                    &.section--design        { background-color: darken($design-color, 5%); }
                    &.section--foundations   { background-color: darken($foundations-color, 5%); }
                    &.section--yourthoughts  { background-color: darken($yourthoughts-color, 5%); }
                }
            }
        }
    }

    .comment-panel {
        &.section--intro         { background-color: darken($primary-color, 5%); }
        &.section--engagement    { background-color: darken($engagement-color, 5%); }
        &.section--organizing    { background-color: darken($organizing-color, 5%); }
        &.section--talent        { background-color: darken($talent-color, 5%); }
        &.section--design        { background-color: darken($design-color, 5%); }
        &.section--foundations   { background-color: darken($foundations-color, 5%); }
        &.section--yourthoughts  { background-color: darken($yourthoughts-color, 5%); }
    }

}

// UI Selector
#selectUI {
    position: fixed;
    display: block;
   
    background-color: rgba(0,0,0,0.9);
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    padding: 1rem 2rem;

    small {
        display:block;
        color: #FFF;
        font-size: 12px;
    }

    &:hover {
        opacity: 1;
    }

    .ui-button {
        display: inline-block;
        color: #FFF;
        background: #333;
        padding: 1rem 2rem;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 0.5rem;

        &:hover, &.js-active {
            background-color: #265db0;
        }
    }
}

#tmp-dialog {
    position: relative;
    padding: 5.5rem 3rem 2rem 3rem;

    &.hidden {
        display: none;
    }

    button {
        background-color: $primary-color;
        border: 0;
        color: #FFF;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
        margin: 0.5rem;

        &:hover {
            background-color:#265db0;
        }
    }
    .closebutton {
        position: absolute;
        top:1rem;
        right: 1rem;

        button {
            background: none;
            border: none;
            outline: none;
            color: $primary-color;

            &:hover {
                font-color: $primary-color;
            }
        }
    }
}