{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Talent
lang        : EN
{% endcomment %}

<a name="_Toc476843338"></a>
<div id="talent" class="section-heading-container">
<div class="heading-container section--talent">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Digital Talent</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. Etiam pulvinar quam id laoreet tempor. Etiam dignissim, diam non ultrices vehicula, metus nisi ullamcorper quam, ac rutrum est libero et libero. Nam sit amet vestibulum diam. Sed blandit orci et nulla facilisis viverra. Etiam quis arcu eu ligula sollicitudin volutpat. Integer ut ornare mi. Sed sollicitudin, quam sit amet aliquam fringilla, ligula metus ultricies tellus, et dapibus orci enim nec orci. Sed volutpat in nulla sit amet varius. Sed vel lectus justo. Curabitur hendrerit nulla et metus mollis, eget lacinia urna imperdiet.</p>
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi.</p>
    <h3><a name="_Toc476843339"></a>Connecting with External Talent</h3>
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Nam sit amet vestibulum diam.</p>
    <ul>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo.</li>
    </ul>
    <h3><a name="_Toc476843340"></a>Flexible &ldquo;Tours of Duty&rdquo;</h3>
    <div class="comment-panel comment-panel-left section--talent">
        <p><em class="sr-only">Info box: </em><a href="https://www.codeforamerica.org/">Code for America</a> was founded in 2009, and connects technology and design professionals with opportunities to improve digital public services in the United States. Code for America runs a program where small teams of developers and designers work within municipal and state governments for year-long fellowships, building innovative digital services and sharing best practices from the technology and design community with government counterparts. Since Code for America was launched, similar programs have been created in <a href="http://www.codeforaustralia.org/">Australia</a>, <a href="http://codefor.de/en/">Germany</a>, and <a href="https://codeforall.org/partners/">a number of other countries</a> around the world.</p>
    </div>
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi.</p>
    <ul>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Nam sit amet vestibulum diam.</li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo.</li>
    </ul>
    <div class="comment-panel comment-panel-right section--talent">
        <p><em class="sr-only">Info box: </em>The United States&rsquo; <a href="https://presidentialinnovationfellows.gov/about/">Presidential Innovation Fellows</a> (PIF) program is designed to attract innovators in the technology sector into 12-month terms within the federal government. The fellowship program is highly competitive, and attracts leading technology experts from across the United States. PIF fellows were <a href="http://ben.balter.com/2015/04/22/the-difference-between-18f-and-usds/">instrumental in the creation</a> of both 18F and USDS in 2014.</p>
    </div>
    <h3><a name="_Toc476843341"></a>Engagement with Students and Universities</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper ipsum ligula, eget blandit felis sodales vel. Donec feugiat libero erat, id fringilla massa commodo non. Mauris porttitor quam id massa efficitur venenatis. </p>
    <ul>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
        <li>Nam sollicitudin hendrerit mattis. Integer eu interdum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor egestas quam quis malesuada.</li>
        <li>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Nam sit amet vestibulum diam.</li>
    </ul>
    <h3><a name="_Toc476843342"></a>New Models for Co-Creation</h3>
    <div class="comment-panel comment-panel-left section--talent">
        <p><em class="sr-only">Info box: </em><a href="http://www.cra-arc.gc.ca/esrvc-srvce/tx/ndvdls/netfile-impotnet/menu-eng.html">NETFILE</a> provides an application programming interface (API), a software system that allows other companies to build tax filing software that can send information directly to the Canada Revenue Agency. NETFILE has created an ecosystem where <a href="http://www.cra-arc.gc.ca/esrvc-srvce/tx/ndvdls/netfile-impotnet/crtfdsftwr/menu-eng.html">a variety of vendors</a> are providing digital tax filing solutions, competing on the ease of their user interface and the features provided, and simplifying the tax filing experience for Canadians as a result.</p>
    </div>
    <p>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</p>
    <ul>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        
    </ul>
    <h3><a name="_Toc476843343"></a>Talent Beyond the National Capital Region</h3>
    <p>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</p>
    <ul>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
    </ul>
    <h3><a name="_Toc476843344"></a>Fostering Leading-Edge Talent within Government</h3>
    <p>Nam sollicitudin hendrerit mattis. Integer eu interdum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor egestas quam quis malesuada.</p>
    <ul>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
        <li>Integer ornare lorem non lectus efficitur, non convallis tellus sodales. Etiam a condimentum risus. Cras rhoncus sagittis molestie. Proin viverra tellus elit, molestie ultricies purus rhoncus vel. Nulla a gravida neque.</li>
    </ul>
</div>