{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Your Thoughts
lang        : EN
{% endcomment %}

<a name="_Toc476843357"></a>
<div id="yourthoughts" class="section-heading-container">
<div class="heading-container section--yourthoughts">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Continuing the&nbsp;<br/>&nbsp;Conversation</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>This report is only the beginning of an ongoing conversation on digital government. As work to develop a made-in-Canada approach to digital government continues to evolve, your feedback and ideas will play an essential role in keeping efforts focused on the needs of citizens. In many ways, this work aims to contribute to a broader sharing of experiences and learnings on digital initiatives, in the spirit of working in the open &ndash; from all levels of government and from private sector, academic, and community partners.</p>
    <p>If you have ideas on digital transformation, digital service delivery, or any of the topics above, please keep in touch. Share your thoughts via the comment function at the bottom of this report, or by sending an email to: <a href="mailto:engage@tbs-sct.gc.ca">engage@tbs-sct.gc.ca</a></p>
    <p>You can also reach out to us on Twitter at <a href="https://twitter.com/TBS_Canada">@TBS_Canada</a> or by using the <a href="https://twitter.com/hashtag/GCdigital?src=hash">#GCdigital</a> hashtag.</p>
    <p>The thoughtfulness, time, and ideas that were contributed to the discussion by all stakeholders are greatly appreciated. The contributions of provincial and community partners who helped facilitate and host meetings across Canada were also very much appreciated. This process is the beginning of an ongoing dialogue and collaboration that will allow us to continually learn from each other&rsquo;s efforts to build better digital services for all Canadians across the country.</p>
    <h3 id="annex">Annex: TBS Digital Government Engagement Presentation</h3>
    <div class="row">
        <div class="col-sm-8">
            <a class="gc-dwnld-lnk" href="{{ HOME_PATH }}files/2017/a-conversation-about-digital-government-2017-EN.pdf">
                <div class="well gc-dwnld">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><img class="img-responsive thumbnail gc-dwnld-img" src="//wet-boew.github.io/themes-dist/GCWeb/img/doc.png" alt="[Document icon]"></p>
                        </div>
                        <div class="col-xs-8">
                            <p class="gc-dwnld-txt"><span>TBS Digital Government Consultation Presentation (16 slides)</span>
                                <span class="gc-dwnld-info"><abbr title="Portable Document Format">PDF</abbr> &ndash; 1.4<abbr title="Megabyte">MB</abbr></span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>