{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Organizing
lang        : EN
{% endcomment %}
<a name="_Toc476843332"></a>
<div id="organizing" class="section-heading-container">
<div class="heading-container section--organizing">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Organizing&nbsp;<br/>&nbsp;to Deliver Digital</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl.</p>
    <p>Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl.</p>
    <h3><a name="_Toc476843333"></a>Focused Leadership</h3>
    <p>Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl.</p>
    <ul>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
    </ul>
    <h3><a name="_Toc476843334"></a>Evolving Leadership Roles</h3>
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Nam sit amet vestibulum diam.</p>
    <ul>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
    </ul>
    <h3><a name="_Toc476843335"></a>Revolution versus Evolution</h3>
    <p>Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl.</p>
    <ul>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
    </ul>
    <h3><a name="_Toc476843336"></a>&ldquo;Working in the Open&rdquo;</h3>
    <div class="comment-panel comment-panel-right section--organizing">
        <p><em class="sr-only">Info box: </em>A number of digital transformation teams have created blogs that share their strategic thinking, design and technical approaches, and results. The <a href="https://gds.blog.gov.uk/">UK Government Digital Service blog</a> began this trend in 2011, followed by the <a href="https://18f.gsa.gov/blog/">18F blog</a> and <a href="https://medium.com/@USDigitalService">USDS blog</a> in the United States, the <a href="https://www.dta.gov.au/blog/">DTA blog</a> in Australia, and the <a href="https://medium.com/ontariodigital">Ontario Digital blog</a> here in Canada. These resources allow digital teams within government to connect and share with the public, the technology community, and counterparts around the world.</p>
    </div>
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus.</p>
    <ul>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
    </ul>
    <h3><a name="_Toc476843337"></a>Better Services through Data</h3>
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus.</p>
    <ul>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
    </ul>
</div>