{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Engagement
lang        : EN
{% endcomment %}

<a name="_Toc476843331"></a>
<div id="engagement" class="section-heading-container">
<div class="heading-container section--engagement">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Starting a Conversation&nbsp;<br/>&nbsp;on a Made-in-Canada&nbsp;<br/>&nbsp;Approach</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Vestibulum sed nibh eget justo vestibulum posuere sed id lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vel consequat magna. Nam elementum, neque eu semper vestibulum, lacus lacus pulvinar nisi, sit amet vestibulum ipsum augue a metus. Quisque eget nunc suscipit arcu ultrices interdum eget quis quam. Praesent ut lectus ex. Vestibulum tempus augue massa, non feugiat libero posuere ut. Praesent tempus quis.</p>
    <p>Donec faucibus tempus nunc id gravida. Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl. Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis:</p>
    <ul>
        <li>Praesent tempus purus mattis finibus</li>
        <li>Sed euismod pretium egestas. Aliquam ultrices orci est, urna et sollicitudin ante congue nec</li>
        <li>Ut id mi vel magna mollis dapibus in in sem. Quisque tincidunt dui eu</li>
        <li>Phasellus varius tellus lectus, porta quam</li>
    </ul>
</div>
<p>
    <img class="img-responsive" alt="Stylized map of Canada, with pins indicating cities visited: Whitehorse, Vancouver, Victoria, Surrey, Calgary, Edmonton, Saskatoon, Regina, Winnipeg, Kitchener-Waterloo, Guelph, Toronto, Mississauga, Ottawa, Montreal, Québec, Fredericton, Saint John, Halifax, and Charlottetown" src="{{ HOME_PATH }}img/maps/map-markers-6b-en.png">
    <em class="caption"><span class="sr-only">Caption:</span> Map of Canada indicating cities visited</em>
</p>
<div class="engagement-report-section">
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. Integer mattis tempor nulla, vel varius ligula semper eu. Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit.</p>
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum.</p>
    
    <ul>
        <li>Sed blandit orci et nulla facilisis viverra.</li>
        <li>Sed blandit orci</li>
        <li>Nam sit amet vestibulum diam</li>
        <li>Proin accumsan placerat pretium.</li>
    </ul>
    <p>Mauris lobortis tempus justo, vulputate mattis lectus rhoncus a. Vestibulum pretium est in est accumsan sollicitudin. Nunc eget fermentum ante. Mauris sed vulputate felis. Vestibulum tempus nulla felis. Fusce aliquam volutpat quam, rhoncus hendrerit elit dapibus ac. Duis non risus vitae magna euismod ullamcorper sed sit amet eros. Etiam vehicula auctor lacus vel suscipit. Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. </p>
</div>