{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Navigation
lang        : EN
{% endcomment %}

<div id="themenav">
    <ul class="nav scroll dragscroll secondary" data-spy="affix" data-offset-top="640">
        <li class="hidden-xs">
            <a class="nav-link section--engagement" href="#engagement" data-target="#engagement">Engagement</a>
        </li>
        <li>
            <a class="nav-link section--organizing" href="#organizing" data-target="#organizing">Organizing</a>
        </li>
        <li>
            <a class="nav-link section--talent" href="#talent" data-target="#talent">Talent</a>
        </li>
        <li>
            <a class="nav-link section--design" href="#design" data-target="#design">Design</a>
        </li>
        <li>
            <a class="nav-link section--foundations" href="#foundations" data-target="#foundations">Foundations</a>
        </li>
        <li class="hidden-xs">
            <a class="nav-link section--yourthoughts" href="#yourthoughts" data-target="#yourthoughts">Your Thoughts</a>
        </li>
    </ul>
</div>