{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Your Thoughts
lang        : EN
{% endcomment %}

<a name="_Toc476843357"></a>
<div id="yourthoughts" class="section-heading-container">
<div class="heading-container section--yourthoughts">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Continuing the&nbsp;<br/>&nbsp;Conversation</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper ipsum ligula, eget blandit felis sodales vel. Donec feugiat libero erat, id fringilla massa commodo non. Mauris porttitor quam id massa efficitur venenatis. Nullam vitae aliquam nisi, id varius nulla. Nulla sit amet rhoncus ante, at consectetur dolor. Aenean id velit fermentum, auctor ex iaculis, pellentesque est.</p>
    <p>Nam sollicitudin hendrerit mattis. Integer eu interdum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor egestas quam quis malesuada. Praesent porta tempus metus, eget facilisis sem facilisis in.</p>
    <p>Fusce et tincidunt diam. Quisque blandit in neque eget posuere. Nulla posuere lacinia arcu ut mollis. Aliquam luctus sodales dolor, vel aliquam augue sagittis nec. Aliquam erat volutpat. Praesent pulvinar arcu eget ligula pulvinar, sit amet ultrices odio lacinia. Maecenas maximus ut risus at auctor.</p>
    <h3 id="annex">Annex: TBS Digital Government Engagement Presentation</h3>
    <div class="row">
        <div class="col-sm-8">
            <a class="gc-dwnld-lnk" href="{{ HOME_PATH }}files/2017/a-conversation-about-digital-government-2017-EN.pdf">
                <div class="well gc-dwnld">
                    <div class="row">
                        <div class="col-xs-4">
                            <p><img class="img-responsive thumbnail gc-dwnld-img" src="//wet-boew.github.io/themes-dist/GCWeb/img/doc.png" alt="[Document icon]"></p>
                        </div>
                        <div class="col-xs-8">
                            <p class="gc-dwnld-txt"><span>TBS Digital Government Consultation Presentation (16 slides)</span>
                                <span class="gc-dwnld-info"><abbr title="Portable Document Format">PDF</abbr> &ndash; 1.4<abbr title="Megabyte">MB</abbr></span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>