{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Engagement
lang        : EN
{% endcomment %}

<a name="_Toc476843331"></a>
<div id="engagement" class="section-heading-container">
<div class="heading-container section--engagement">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Starting a Conversation&nbsp;<br/>&nbsp;on a Made-in-Canada&nbsp;<br/>&nbsp;Approach</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>In September 2016, TBS began designing and undertaking a series of engagement sessions on digital government. The objective was to solicit input from stakeholders with a variety of backgrounds to inform a made-in-Canada approach to digital government. While not designed as a broad citizen consultation in the traditional sense, the exercise was intended to learn from the experience of other jurisdictions and gather input from stakeholders from coast to coast to coast.</p>
    <p>In total, 20 cities and 10 provinces and territories were visited between September 2016 and February 2017. During this time, discussions took place with over 1,000 individuals, representing more than 200 organizations. These discussions largely took place with representatives from the following sectors:</p>
    <ul>
        <li>Provincial and municipal governments</li>
        <li>Technology sector vendors, start-ups, entrepreneurs, business incubators, and accelerators</li>
        <li>Civic Tech organizations, communities, and non-profit organizations</li>
        <li>Academic institutions, faculty and students</li>
    </ul>
</div>
<p>
    <img class="img-responsive" alt="Stylized map of Canada, with pins indicating cities visited: Whitehorse, Vancouver, Victoria, Surrey, Calgary, Edmonton, Saskatoon, Regina, Winnipeg, Kitchener-Waterloo, Guelph, Toronto, Mississauga, Ottawa, Montreal, Québec, Fredericton, Saint John, Halifax, and Charlottetown" src="{{ HOME_PATH }}img/maps/map-markers-6b-en.png">
    <em class="caption"><span class="sr-only">Caption:</span> Map of Canada indicating cities visited</em>
</p>
<div class="engagement-report-section">
    <p>Feedback and input was also collected through a number of other channels, including email, bilateral meetings, tweets using the <a href="https://twitter.com/hashtag/GCdigital?src=hash">#GCdigital</a> hashtag, and networking events. Discussions were also held with international peers from a number of countries who have undertaken digital transformation initiatives, including the United Kingdom, the United States, Estonia, New Zealand and Australia.</p>
    <p>A presentation was used in most stakeholder meetings, outlining four major themes to frame the discussion (<a href="#annex">see Annex</a>):</p>
    <ul>
        <li>Organizing to Deliver Digital</li>
        <li>Digital Talent</li>
        <li>Digital Service Design and Delivery</li>
        <li>Putting in Place the Right Foundations</li>
    </ul>
    <p>In all cases, the results of these discussions were captured and categorized by theme to inform the key takeaways featured in this report. While each session focused on various topics depending on the participants, the four themes listed above capture the essence of the discussions. The remainder of this report is structured along these main themes, and identifies issues that were highlighted by stakeholders in these discussions as key considerations as the Government of Canada works towards a made-in-Canada approach to digital government.</p>
</div>