{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Design
lang        : EN
{% endcomment %}

<a name="_Toc476843345"></a>
<div id="design" class="section-heading-container">
<div class="heading-container section--design">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Digital Service Design&nbsp;<br/>&nbsp;and Delivery</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Developing the next generation of services to Canadians in the digital world means, above all, taking a user-centric approach to design and delivery. While this would appear to be common sense on the surface, it was often pointed out that this approach runs contrary to how governments often tend to operate. Based on the experience of other jurisdictions, focused effort is require to institutionalize new ways of working, by changing the incentives, processes, and the culture of departments. Without these reforms, adopting modern online tools for service delivery amounts to only superficial enhancements to the existing system. More profound changes are required to be able to improve how government delivers services in the digital age, from the user-interface to departmental processes and the data and infrastructure that underpins government programs and operations.</p>
    <p>Through engagement across the country, the following five key items surfaced through discussions with stakeholders.</p>
    <h3><a name="_Toc476843346"></a>User Needs First</h3>
    <p>Putting user needs at the centre of all service design was broadly identified as essential, and requiring an understanding of the implications for the culture, incentives, and structures currently in place in government:</p>
    <ul>
        <li>Participants underlined that service design traditionally conducted within government tends to put the needs of departments ahead of the needs of users. Reversing these processes will require a significant culture change.</li>
        <li>A number of jurisdictions around the world have developed expertise in institutionalizing user-centric design approaches, and the Government of Canada can learn from and build on these experiences. The key to many of these successes has been sustained leadership and a willingness to challenge assumptions and change existing processes.</li>
    </ul>
    <h3><a name="_Toc476843347"></a>Iterative Approaches</h3>
    <div class="comment-panel comment-panel-right vancouver">
        <p><em class="sr-only">Info Box: </em>The UK&rsquo;s Government Digital Service (GDS) team put in place <a href="https://www.gov.uk/service-manual/measuring-success/using-data-to-improve-your-service-an-introduction">four standard Key Performance Indicators</a> (KPIs) to assess all of the UK government&rsquo;s online services: cost per transaction, user satisfaction, completion rate, and percentage completed online. This allows GDS to evaluate improvements and changes to these services. In the spirit of working in the open, GDS makes these KPIs publicly available online on a <a href="https://www.gov.uk/performance">real-time performance dashboard</a>. The Australian Digital Transformation Agency <a href="https://www.dta.gov.au/standard/measuring-performance/">adopted the same four KPIs</a>, creating a consistent approach that could be used to assess digital services in many jurisdictions around the world.</p>
    </div>
    <p>The importance of iterative approaches that build on user feedback at all stages was identified as a key success factor:</p>
    <ul>
        <li>The waterfall development methodology &ndash; a non-iterative design process used in software development in which progress is seen as flowing steadily downwards from concept, to implementation and maintenance &ndash; and the drive for &ldquo;big release and announcement&rdquo; approaches for many government IT and service delivery initiatives were identified as a major barrier to user-centric service design and delivery.</li>
        <li>Respondents noted how the private sector has taken much more of an &ldquo;alpha-beta&rdquo; testing approach &ndash; to start small and iterate in software and service design. By definition, this means releasing products that are not fully finished, and improving them as they are tested by end-users. This, in turn, requires government to take on a different type of risk tolerance.</li>
        <li>It was also noted that iterating successfully also requires access to user feedback and data on a continuous basis. A number of stakeholders identified the benefits of not only having consistent baseline data across online service offerings, but also the beneficial competitive pressures that can be introduced by making that data available publicly, in real-time whenever possible. It was noted that, in order to accomplish these types of public digital service dashboards, common standards and methodologies for data across services are required, which can be built into software designs to automate data collection and publishing.</li>
    </ul>
    <h3><a name="_Toc476843348"></a>Building User-Centric Design Skills</h3>
    <p>A number of stakeholders identified a skills gap that needs to be addressed in the public sector at the intersection of user-centric design and agile prototyping and development:</p>
    <ul>
        <li>Respondents noted how user-centric design approaches &ndash; such as client journey mapping &ndash; can be non-digital in nature, even as they play a key role in transforming how governments deliver online services to citizens.</li>
        <li>Others underlined how user-centric design is generally not a skill that the federal government hires for, or formally incorporates into organizational structures. Embedding user-centric design thinking into the organization, and incentivizing and measuring its use, was identified as a potential priority to help drive digital transformation.</li>
    </ul>
    <h3><a name="_Toc476843349"></a>Digital Design Standards</h3>
    <div class="comment-panel comment-panel-left vancouver">
        <p><em class="sr-only">Info box: </em>Digital design standards have become a key tool as governments improve the quality of their online services. The UK Government Digital Service published a <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a> with 18 criteria, which emphasize a focus on user needs, the use of agile methods, open source, and open standards, and performance measurement and testing. Other countries have taken similar approaches: the US Digital Service created a <a href="https://playbook.cio.gov/">Digital Services Playbook</a>, aimed at increasing how often digital projects are successful, and Australia&rsquo;s Digital Transformation Agency established a <a href="https://www.dta.gov.au/standard/">Digital Service Standard</a> inspired by the UK model.</p>
    </div>
    <p>Digital design standards can drive change across the whole-of-government, but need to be tailored to the Canadian context. This includes a focus on issues such as accessibility, low-bandwidth access, and official languages requirements:</p>
    <ul>
        <li>Feedback included how many jurisdictions around the world have put in place digital design standards to drive digital adoption and improve the quality of online services. These standards, particularly when mandatory, can play a key role in changing strategies and behaviour across large organizations.</li>
        <li>In the Canadian context, specific issues were identified as needing to be taken into account in the creation of such standards. Federal government requirements related to web accessibility are some of the most robust in in the world and need to be adhered to. Given the geographical reach of Canada, there are also significant regions of the country with low-bandwidth or limited internet access, which needs to be taken into account in the development of design standards. Official Languages requirements also apply to any digital services created by the federal government.</li>
    </ul>
    <h3><a name="_Toc476843350"></a>Scaling and Sharing Innovations</h3>
    <p>Central leadership was often mentioned as being important to help scale innovation by connecting ideas, best practices, and opportunities across the whole-of-government and other jurisdictions:</p>
    <ul>
        <li>While there are pockets of innovation in the Government of Canada, many participants with experience working with the federal public service noted the lack of dedicated resources mandated to scale innovation across the system.</li>
        <li>The cross-Canada engagement sessions revealed that outside of the federal government, there are significant innovations happening at a provincial and municipal level. At the same time, international governments offer a deep source of experiences and best practices that can be adapted to the Canadian context. There was a need identified to collaborate in real-time across jurisdictions to share ideas and solutions.</li>
    </ul>
</div>