{% comment %}
Page Partial
-------------
page        : beginning-the-conversation-full 
description : Report Section: Design
lang        : EN
{% endcomment %}

<a name="_Toc476843345"></a>
<div id="design" class="section-heading-container">
<div class="heading-container section--design">
    <a href="#top" class="toplink"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <span class="toplinktext">Top</span></a>
    <h2 class="padded-multiline">
    <span>Digital Service Design&nbsp;<br/>&nbsp;and Delivery</span>
</h2>
</div>
</div>
<div class="engagement-report-section">
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. Etiam pulvinar quam id laoreet tempor. Etiam dignissim, diam non ultrices vehicula, metus nisi ullamcorper quam, ac rutrum est libero et libero. Nam sit amet vestibulum diam. Sed blandit orci et nulla facilisis viverra. Etiam quis arcu eu ligula sollicitudin volutpat. Integer ut ornare mi. Sed sollicitudin, quam sit amet aliquam fringilla, ligula metus ultricies tellus, et dapibus orci enim nec orci. Sed volutpat in nulla sit amet varius. Sed vel lectus justo. Curabitur hendrerit nulla et metus mollis, eget lacinia urna imperdiet.</p>
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi.</p>
    <h3><a name="_Toc476843346"></a>User Needs First</h3>
    
    <p>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Nam sit amet vestibulum diam.</p>
    <ul>
        <li>In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus. Vestibulum consequat est in lobortis commodo. </li>
        <li>Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. Duis velit nisi, sollicitudin non mollis quis, malesuada non velit. Vestibulum pulvinar efficitur tortor bibendum malesuada.</li>
    </ul>
    
    <h3><a name="_Toc476843347"></a>Iterative Approaches</h3>
    <div class="comment-panel comment-panel-right section--design">
        <p><em class="sr-only">Info Box: </em>The UK&rsquo;s Government Digital Service (GDS) team put in place <a href="https://www.gov.uk/service-manual/measuring-success/using-data-to-improve-your-service-an-introduction">four standard Key Performance Indicators</a> (KPIs) to assess all of the UK government&rsquo;s online services: cost per transaction, user satisfaction, completion rate, and percentage completed online. This allows GDS to evaluate improvements and changes to these services. In the spirit of working in the open, GDS makes these KPIs publicly available online on a <a href="https://www.gov.uk/performance">real-time performance dashboard</a>. The Australian Digital Transformation Agency <a href="https://www.dta.gov.au/standard/measuring-performance/">adopted the same four KPIs</a>, creating a consistent approach that could be used to assess digital services in many jurisdictions around the world.</p>
    </div>
    <p>Nulla dui turpis, porta ut fermentum id, molestie sit amet justo. Suspendisse maximus vel erat at luctus. Phasellus nec justo ut lacus venenatis cursus sit amet ut nisl.</p>
    <ul>
        <li>Pellentesque aliquet sed lorem fringilla sodales. Cras consectetur imperdiet nunc, ac venenatis nisl bibendum nec. In quis aliquam libero. </li>
        <li> Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. Etiam pulvinar quam id laoreet tempor. Etiam dignissim, diam non ultrices vehicula, metus nisi ullamcorper quam, ac rutrum est libero et libero. Nam sit amet vestibulum diam.</li>
        <li>Etiam quis arcu eu ligula sollicitudin volutpat. Integer ut ornare mi. Sed sollicitudin, quam sit amet aliquam fringilla, ligula metus ultricies tellus, et dapibus orci enim nec orci. Sed volutpat in nulla sit amet varius. Sed vel lectus justo. Curabitur hendrerit nulla et metus mollis, eget lacinia urna imperdiet.</li>
    </ul>
    
    <h3><a name="_Toc476843348"></a>Building User-Centric Design Skills</h3>
    
    <p>Fusce pretium neque quis quam consequat vestibulum. In luctus, ante eu hendrerit tincidunt, diam erat commodo nisi, nec pulvinar leo tellus ut nunc. Ut sit amet scelerisque lectus.</p>
    <ul>
        <li>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. </li>
        <li>Vestibulum consequat est in lobortis commodo. Integer mattis tempor nulla, vel varius ligula semper eu. Mauris felis felis, pulvinar nec consectetur tincidunt, maximus at turpis. </li>
    </ul>
    
    <h3><a name="_Toc476843349"></a>Digital Design Standards</h3>
    <div class="comment-panel comment-panel-left section--design">
        <p><em class="sr-only">Info box: </em>Digital design standards have become a key tool as governments improve the quality of their online services. The UK Government Digital Service published a <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a> with 18 criteria, which emphasize a focus on user needs, the use of agile methods, open source, and open standards, and performance measurement and testing. Other countries have taken similar approaches: the US Digital Service created a <a href="https://playbook.cio.gov/">Digital Services Playbook</a>, aimed at increasing how often digital projects are successful, and Australia&rsquo;s Digital Transformation Agency established a <a href="https://www.dta.gov.au/standard/">Digital Service Standard</a> inspired by the UK model.</p>
    </div>
    
    <p>Pellentesque varius efficitur dui, congue sagittis ipsum facilisis id. Donec aliquet finibus accumsan. Vestibulum velit velit, luctus ullamcorper mauris vitae, suscipit hendrerit urna. Praesent nec tellus eget velit tempor vulputate at ut ante. </p>
    <ul>
        <li>Aenean ac eros tempus, feugiat purus eu, porta odio. Fusce tortor augue, scelerisque ut cursus a, tempus ac sem. Phasellus at venenatis metus, eget volutpat metus. In neque est, consequat in tincidunt mattis, molestie egestas enim. </li>
        <li>Cras vel suscipit nisl, a euismod nulla. Vivamus ac interdum neque, et semper purus. Curabitur vulputate mauris id placerat dictum. </li>
    </ul>
    
    <h3><a name="_Toc476843350"></a>Scaling and Sharing Innovations</h3>
    
    <p>Pellentesque ac ipsum eros. Suspendisse venenatis nibh eget arcu sagittis, vel semper tortor facilisis. Sed lacinia ac lacus nec sodales. Nulla sit amet augue et massa ullamcorper interdum ut id sem. Nullam sollicitudin venenatis consectetur. In in neque non lacus varius aliquam porta sit amet justo. Mauris imperdiet risus est, venenatis finibus nulla feugiat vel.</p>
    <ul>
        <li>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. </li>
        <li>Suspendisse at diam nibh. Suspendisse pharetra, ante vel dignissim facilisis, justo libero convallis velit, quis mattis erat quam non tellus. Sed semper est in euismod vestibulum. Aenean feugiat, urna et tristique semper, enim enim tempor quam, at laoreet quam odio eu orci. </li>
    </ul>
</div>