<!-- User Testing UI -->
<div id="selectUI">
	<small>Please select an option below:</small>
	<button class="ui-button js-active" id="opt1">Option 1: Photos</button>
	<button class="ui-button" id="opt2">Option 2: Simple</button>
	<button class="ui-button" id="opt3">Option 3: Mosaic</button>
</div>

<script>
	var opt1 = document.getElementById("opt1");
	var opt2 = document.getElementById("opt2");
	var opt3 = document.getElementById("opt3");

	var wrapper = document.getElementById("js-report-section");

	function uiClicked(evt) { 
		if(evt.target.id == "opt1") {
			wrapper.classList.remove("mosaic");
			wrapper.classList.remove("simple");
			opt1.classList.add("js-active");
			opt2.classList.remove("js-active");
			opt3.classList.remove("js-active");
		}
		if(evt.target.id == "opt2") {
			wrapper.classList.remove("mosaic");
			wrapper.classList.add("simple");
			opt1.classList.remove("js-active");
			opt2.classList.add("js-active");
			opt3.classList.remove("js-active");
		}
		if(evt.target.id == "opt3") {
			wrapper.classList.add("mosaic");
			wrapper.classList.remove("simple");
			opt1.classList.remove("js-active");
			opt2.classList.remove("js-active");
			opt3.classList.add("js-active");
		}
	}

	opt1.addEventListener("click", uiClicked, false);
	opt2.addEventListener("click", uiClicked, false);
	opt3.addEventListener("click", uiClicked, false);
</script>

<!-- END User Testing UI -->